@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="header">
    <div id="date" class="date"></div>
    <div id="time" class="time"></div>
    <div id="seconds" class="seconds"></div>
</div>

@foreach (var day in Model.NextDays) {
    <div class="dayRow">
        @if (day.Events.Length == 0)
        {
            <h2>@day.DisplayDate - Keine Termine!</h2>
        }
        else 
        {
            <h2>@day.DisplayDate</h2>
            @foreach (var ev in day.Events)
            {
                <h3>@ev</h3>
                <p>TODO Location, all day events, event color</p>
            }
        }
    </div>
} 

<!-- <img src="images/banner1.svg" alt="text alternative"/> -->

<script>
    updateDateTime();
    function updateDateTime() {
        var now = new Date();
        document.getElementById("date").innerHTML    = now.toLocaleDateString("de-DE", {weekday:'long', year:'numeric', month:'long', day:'numeric'});
        document.getElementById("time").innerHTML    = now.toLocaleTimeString("de-DE", {hour:'2-digit', minute:'2-digit'});
        var seconds = now.getSeconds();
        document.getElementById("seconds").innerHTML = (seconds<10?'0':'')+seconds;
    }
    setInterval(updateDateTime, 1000);
</script>