body { /* 16:9 max resolution is 1366x768 */
    margin: 0px;
    padding: 20px;
    color: whitesmoke;
    background-image: url("../images/background.jpg"); /* TODO: we have to change this once in a while... */
    background-size: cover;
    overflow: hidden; /* we cannot scroll anyways :) */
}
.inline {display: inline-block;}

/*** BootStrap/FlexBox Grid Style ***/
.row {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background: #00000060;
    box-shadow: 5px 5px 5px #00000035;
}
.header {
    background: #00000070;
    box-shadow: 5px 5px 5px #00000035;
}

/*** Date/Time Header Stuff ***/
.date {
    font-size: 4em;
}
.time {
    display: inline;
    font-size: 4em;
}
.seconds {
    display: inline;
    color: gray;
}

/*** Event Style ***/
.day-header {
    font-size: 2em;
    color: darkgray;
}
.event {
    font-size: 2.5em;
    display: block;
}
.event-time {
    display: inline;
    color: darkgray;
    margin-right: 10px;
}
.event-description {
    display: inline;
}
.event-location {
    display: block;
    padding-left: 40px;
    color: darkgray;
}

/*** Weather Style ***/
.weatherIcon {
    display:block;
    float:left;
    width:33%;
}
.temperatures {
    display:block;
    text-align: center;
    float:left;
    width:34%;
}
.weatherDayTemp {
    font-size: 3em;
}
.weatherNightTemp {
    color: darkgray;
    font-size: 3em;
}
.weatherDay {
    font-size: 2em;
}
.weatherNight {
    color: darkgray;
    font-size: 2em;
}
