body {
    margin: 0px;
    background-image: url("../api/images/background");
    background-size: cover;
    color: whitesmoke;
}
.body-content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

/*** BootStrap/FlexBox Grid Style ***/
.row {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background: #00000050;
    box-shadow: 5px 5px 5px #00000035;
}
.header {
    background: #00000060;
    box-shadow: 5px 5px 5px #00000035;
}

/*** Date/Time Header Stuff ***/
.date {
    font-size: 4em;
}
.time {
    font-size: 4em;
}
.seconds {
    margin-top: 46px;
    color: lightgray;
}

/*** Weather Style ***/
.weatherDay {
    font-size: 1.5em
}
.weatherDayTemp {
    width: 200px;
    display: inline-block;
    font-size: 2em;
}
.weatherNight {
    color: lightgray;
    font-size: 1.25em
}
.weatherNightTemp {
    width: 200px;
    display: inline-block;
    font-size: 1.5em;
}
.weatherIcon {
    display: inline-block;
}
