body { /* 16:9 max resolution is 1366x768 */
    /* margin: 0px;
    padding: 0px; */
    color: whitesmoke;
    background-size: cover;
    overflow: hidden; /* we cannot scroll anyways :) */
}
.inline {display: inline-block;}

/*** BootStrap/FlexBox Grid Style ***/
.row {
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    background: #00000060;
    box-shadow: 5px 5px 5px #00000035;
}

/*** Date/Time Header Stuff ***/
.date {
    font-size: 3em;
}
.time {
    display: inline;
    font-size: 3em;
}
.seconds {
    display: inline;
    color: lightgray;
}

/*** Event Style ***/
.day-header {
    font-size: 1.5em;
    color: lightgray;
}
.event {
    font-size: 2em;
    display: block;
}
.event-time {
    display: inline;
    color: lightgray;
    margin-right: 10px;
}
.event-description {
    display: inline;
}
.event-location {
    display: block;
    padding-left: 40px;
    color: lightgray;
}

/*** Weather Style ***/
.weatherIcon {
    display:block;
    float:left;
    width:33%;
    max-height: 100px;
}
.temperatures {
    display:block;
    text-align: center;
    float:left;
    width:34%;
}
.weatherDayTemp {
    font-size: 2.5em;
}
.weatherNightTemp {
    color: lightgray;
    font-size: 2.5em;
}
.weatherDay {
    font-size: 1.5em;
}
.weatherNight {
    color: lightgray;
    font-size: 1.5em;
}

#footer
{
    clear: both;
    position: fixed;
    bottom: 0px;
    margin: 0;
    padding-bottom: 5px;
    padding-right: 50px;
    width: 100%;
    text-align: Right;
    vertical-align: middle;
    line-height: normal;
}